.footer {
	position: fixed;
	background-color: rgb(41, 41, 41);
	color: white;
	width: 100%;
	padding: 0.4em 4em;
	bottom: 0;
	height: 250px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 15;
}

.registered {
	text-align: right;
	color: rgb(173, 173, 173);
}

.registered .fa-heart {
	color: rgb(235, 69, 69);
}

.copyright {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.copyright h1 {
	color: rgb(109, 109, 109);
}

.copyright .fa-copyright {
	color: rgb(109, 109, 109);
}

.copyright h1 {
	margin-left: 0.2em;
}

.footer .copyright h1 span {
	color: white;
}

.social-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1.5em;
}

.social-link a {
	font-weight: bold;
	color: white;
	z-index: 1;
}

.social-icon {
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.123);
	padding: 1em;
	display: inline-block;
	margin: 0.5em;
}
